<h1>data page</h1>

<div>
    <h2> <%= data['Block-E']['E-201'].Class %> </h2>
    <h2> ClassLux - <%= data['Block-E']['E-201']['ClassLux'] %> </h2>
    <h2> Curtains Window 1 - <%= data['Block-E']['E-201']['Curtains']['Window 1'] %> </h2>
    <h2> Curtains Window 2 - <%= data['Block-E']['E-201']['Curtains']['Window 2'] %> </h2>
    <h2> Curtains Window 3 - <%= data['Block-E']['E-201']['Curtains']['Window 3'] %> </h2>
</div>